body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	max-width: 1900px;
	min-width: 1170px;	
	margin: auto;
}
header, section, footer, nav {
	margin: 0;
	padding: 0;
}
header {
	height: 750px;
	background-image: url(images/header.jpg);
}
nav {
	width: 1170px;
	margin: auto;
	border-bottom: 1px solid #515369;
	overflow: hidden;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: bold;
	font-size: 65px;
}
h2 {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;
}
h3 {
	font-size: 13px;
	color: #e84545;
	font-weight: 200;
}
.logo {
	float: left;
	margin-top: 38px;	
}
.menu ul {
	list-style-type: none;
	margin: 0;		
}
.menu li {
	display: inline-block;
	float: right;
	margin-top: 40px;
	margin-bottom: 40px;	
	margin-left: 58px;
}
.menu a {
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	color: white;
}
.slogan {
	width: 938px;
	margin: auto;
	margin-top: 122px;
	line-height: 1.2;
	font-size: 22px;
	color: white;
	text-align: center;
	margin-bottom: 80px;
}
.slogan p {
	line-height: 1.5;
}
.button {
	width: 200px;
	margin: auto;
}
.slogan-button {
	display: inline-block;
	width: 200px;
	height: 48px;
	padding-top: 15px;
	text-align: center;
	background-color: #e84545;
	text-decoration: none;
	font-weight: 600;
	font-size: 13px;
	color: white;
	box-sizing: border-box;
}
.main {
	overflow: hidden;
	font-size: 14px;
}
.section-features {
	overflow: hidden;
	width: 1170px;
	padding: 0;
	margin: auto;
	margin-top: 121px;
}
.features-main {
	width: 298px;
	height: 230px;
	float: left;
	text-align: center;
	margin-left: 68px;
	margin-bottom: 75px;
	line-height: 1.5;
	color: #6c7279;
} 
.features1:before {
	content: url(images/pencil.png); 
}
.features2:before {
	content: url(images/tv.png); 
}
.features3:before {
	content: url(images/lamp.png); 
}
.features4:before {
	content: url(images/atom.png); 
}
.features5:before {
	content: url(images/portfolio.png); 
}
.features6:before {
	content: url(images/cloud.png); 
}
.works {
	overflow: hidden;
}
.projects-works {
	width: 25%;	
	height: 350px;
	float: left;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	overflow: hidden;
}
.projects-works img {
	height: 100%;		
}
.work3  {
	position: relative;
	text-align: center;
	font-size: 14px;
	color: white;
}
.work3 h2 {
	position: absolute;
	width: 100%;
	top: 144px;
	color: white;
}
.work3 p {
	position: absolute;
	width: 100%;
	top: 168px;
}
.team {
	overflow: hidden;
} 
.team-container {
	width: 1170px;
	margin: auto;
}
.members {
	width: 270px;
	float: left;
	font-size: 13px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: #84898e;
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 102px;
}
.sprite {
	background-image: url(images/team-sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 30px;	
}
.sprite-facebook-team {
	width: 40px;
    height: 40px;
    background-position: -7px -7px;
}
.sprite-linkedin-team {
	width: 40px;
    height: 40px;
    background-position: -115px -7px;
}
.sprite-twitter-team {
	width: 40px;
    height: 40px;
    background-position: -61px -7px;
}
figure {
	margin: 0;
	padding: 0;
}
figcaption {
	font-size: 22px;
	color: black;
	padding-top: 30px;
}
footer {
	overflow: hidden;
	background-color: #313454;
	font-size: 14px;
	text-align: center;
	color: #adaebb;
	clear: both;
}
.contacts {
	overflow: hidden;
	background-color: #3a3e64;
}
.section-contacts {
	width: 1170px;
	background-color: #3a3e64;
	margin: auto;
}
.main-contacts {
	float: left;
	margin-top: 69px;
	margin-bottom: 81px;	
}
address {
	font-style: normal;
}
.location h2, .share h2, .about h2, span {
	color: white;
}
.location {
	width: 157px;
	margin-right: 240px;
	margin-left: 115px;			
}
.share {
	width: 142px;	
	margin-right: 152px;
}
.sprite1 {
    background-image: url(images/share-sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 5px;
 }
.sprite-facebook {
    width: 40px;
    height: 40px;
    background-position: -10px -10px;
}
.sprite-linkedin {
    width: 40px;
    height: 40px;
    background-position: -70px -10px;
}
.sprite-twitter {
    width: 40px;
    height: 40px;
    background-position: -130px -10px;
}
.about {
	width: 333px;	
}
.copyright {
	width: 330px;
	color: #808080;
	margin: auto;
	text-align: center;	
	line-height: 2;
	margin-top: 28px;
	margin-bottom: 28px;	
}


